body{
    height: 900px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("kafe");
}
.ured{
    height: 200px;
    width: 500px;
    background-color: #241f1c;
    border: 15px ridge #937047;
    padding: 15px;
    text-align: center;
    color: #e7dac7;

}

h3{
    margin: 25px;
}

button{

    border-radius: 8px;
}
.y{
    width: 60px;
    height: 30px;
    background: #977855;
    color: whitesmoke;   
    text-decoration: none;
}
.n{
    width: 60x;
    height: 30px;
    text-decoration: none;
    background-color: #977855;
    color: whitesmoke;
}